*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/profile

# C extension
*.o
*.bundle
mkmf.log
Makefile
tmp/
spec/spec.log

# Ragel
lib/stomp_parser/ruby_parser.rb
lib/stomp_parser/c_parser.rb
ext/stomp_parser/c_parser.c
ext/java/stomp_parser/JavaParser.java
lib/stomp_parser/java_parser.jar
